<div class="container container-md">
  <div class="row text-center">
		<div class="col-md-6">
		      <div class="room-box">
		        <div class="room-img">
		            <img class="img-responsive" src="images/delux.jpg">
		        </div>
		        <div class="room-name">
		            <a href ng-click="openBookingForm('delux')"><h5>Delux</h5></a>
                <button type="button" ng-click="openBookingForm('delux')" class="btn btn-primary">Book</button>
		        </div>
		      </div>
		 </div>

		<div class="col-md-6">
		      <div class="room-box">
		        <div class="room-img">
		            <img class="img-responsive" src="images/delight.jpg">
		        </div>
		        <div class="room-name">
		            <a href ng-click="openBookingForm('delight')"><h5>Delight</h5></a>
                <button type="button" ng-click="openBookingForm('delight')" class="btn btn-primary">Book</button>
		        </div>
		      </div>
		 </div>

    <div class="clearfix"></div>

		<div class="col-md-6">
		      <div class="room-box">
		        <div class="room-img">
		            <img class="img-responsive" src="images/executive.jpg">
		        </div>
		        <div class="room-name">
		            <a href ng-click="openBookingForm('executive')"><h5>Executive</h5></a>
                <button type="button" ng-click="openBookingForm('executive')" class="btn btn-primary">Book</button>
		        </div>
		      </div>
		 </div>
  </div>
</div>
